---
title: Nitra Beer
description: Stretnutie  programátorov, dizajnérov, software-developer, sys-adminov, dev-opsákov, študentov IT, a iných IT entuziastov na Pivku v Nitre

---

<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/57/Beer_mug.svg/1024px-Beer_mug.svg.png" alt="Beer!" width="500" height="500"/>


<h1>
  Nitra Beer
</h1>

<p class="description"><%= current_page.data.description %></p>

Výtaní je každý kto aspoň raz pomyslel sa toto: <img src="https://c1.staticflickr.com/9/8465/8385454193_aa204dec75_b.jpg">



<a href="https://nitrabeer.slack.com/">Slack</a>
